<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>best_params</th>
      <th>best_score</th>
      <th>mean_fit_time</th>
      <th>mean_score</th>
      <th>mean_score_time</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>{'n_estimators': 128, 'max_features': 'sqrt', ...</td>
      <td>0.887640</td>
      <td>[0.0200197696686, 0.0390372276306, 0.078071117...</td>
      <td>[0.820224719101, 0.85393258427, 0.842696629213...</td>
      <td>[0.00200192133586, 0.00400360425313, 0.0070064...</td>
      <td>ExtraTreesClassifier</td>
    </tr>
    <tr>
      <th>1</th>
      <td>{'n_estimators': 256, 'max_features': 'sqrt', ...</td>
      <td>0.865169</td>
      <td>[0.0295288562775, 0.0427073637644, 0.090859572...</td>
      <td>[0.707865168539, 0.797752808989, 0.78651685393...</td>
      <td>[0.00250180562337, 0.00433810551961, 0.0076746...</td>
      <td>RandomForestClassifier</td>
    </tr>
    <tr>
      <th>2</th>
      <td>{'estimator__alpha': 0.0001}</td>
      <td>0.696629</td>
      <td>[0.0123455524445, 0.0128451188405, 0.012178421...</td>
      <td>[0.696629213483, 0.696629213483, 0.69662921348...</td>
      <td>[0.00100104014079, 0.00117270151774, 0.0008339...</td>
      <td>Perceptron</td>
    </tr>
    <tr>
      <th>3</th>
      <td>{'learning_rate': 0.5, 'n_estimators': 256}</td>
      <td>0.730337</td>
      <td>[0.099428653717, 0.154146114985, 0.26174179712...</td>
      <td>[0.696629213483, 0.707865168539, 0.70786516853...</td>
      <td>[0.000834226608276, 0.000667254130046, 0.00100...</td>
      <td>GradientBoostingClassifier</td>
    </tr>
    <tr>
      <th>4</th>
      <td>{'max_features': 'auto', 'criterion': 'gini'}</td>
      <td>0.595506</td>
      <td>[0.000333627065023, 0.000333627065023, 0.00033...</td>
      <td>[0.595505617978, 0.460674157303, 0.44943820224...</td>
      <td>[0.000667492548625, 0.000667095184326, 0.00066...</td>
      <td>DecisionTreeClassifier</td>
    </tr>
    <tr>
      <th>5</th>
      <td>{'estimator__C': 0.01}</td>
      <td>0.842697</td>
      <td>[0.0113439559937, 0.0123449961344, 0.014347235...</td>
      <td>[0.831460674157, 0.842696629213, 0.84269662921...</td>
      <td>[0.000667333602905, 0.000668525695801, 0.00100...</td>
      <td>LinearSVC</td>
    </tr>
    <tr>
      <th>6</th>
      <td>{'n_neighbors': 1}</td>
      <td>0.887640</td>
      <td>[0.000667651494344, 0.00100183486938, 0.001001...</td>
      <td>[0.887640449438, 0.775280898876, 0.78651685393...</td>
      <td>[0.00100620587667, 0.00100040435791, 0.0010003...</td>
      <td>kNearestNeighbors</td>
    </tr>
    <tr>
      <th>7</th>
      <td>{'C': 10, 'solver': 'sag'}</td>
      <td>0.865169</td>
      <td>[0.0150142510732, 0.0150144894918, 0.011342684...</td>
      <td>[0.191011235955, 0.191011235955, 0.19101123595...</td>
      <td>[0.000333547592163, 0.000499884287516, 0.00066...</td>
      <td>LogisticRegression</td>
    </tr>
  </tbody>
</table>